<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Book</title>
</head>
<body>

{% include 'partials/nav.html' %}


<header>
    <h1>Add a Book to the Library</h1>
    <p>Help us expand the Selection Labs Library by adding new books!</p>
</header>

<section>
    <form method="post" action="/addBooks">
        <label for="Titel">Book Title</label>
        <input type="text" id="Titel" placeholder="Enter the book's title" name="Titel" required>

        <label for="Author">Author</label>
        <input type="text" id="Author" placeholder="Enter the book's author" name="Author" required>

        <label for="Year">Year</label>
        <input type="number" id="Year" placeholder="Enter the book's year" name="Year"  required>

        <button type="submit">Add Book</button>
        {% if duplicate %}
<p style="color: red;">This book already exists in the library!</p>
{% endif %}
    </form>
</section>



</body>
</html>
